.expenses-table {
  background-color: rgba(255, 255, 255, 0.6);
  margin: 0 auto;
  padding: 30px 60px;
  text-align: center;
  width: 90%;
}

.expenses-table thead {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 14px;
  line-height: 40px;
}

.expenses-table button {
  background: none;
  border: none;
  margin: 0 5px;
}

.expenses-table button:hover {
  cursor: pointer;
}
